<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="odataSparql" type="ODataSparqlLib.ODataSparqlServiceConfigurationSection" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add verb="GET" path="*.sparql" name="ODataSparqlHandler" type="ODataSparqlLib.ODataSparqlHandler" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <odataSparql>
    <output indent="true" />
    <endpoints>
      <add name="dbpedia" address="http://dbpedia.org/sparql" metadata="~/dbpedia.edmx" defaultNamespace="http://dbpedia.org/ontology/" defaultPropertyNamespace="http://dbpedia.org/property/" propertyNameMapping="LowerCamelCase" defaultGraphUri="http://dbpedia.org" defaultLanguage="en" />
      <add name="dbpedia-live" address="http://dbpedia-live.openlinksw/com/sparql" metadata="~/dbpedia.edmx" defaultNamespace="http://dbpedia.org/ontology/" defaultPropertyNamespace="http://dbpedia.org/property/" propertyNameMapping="LowerCamelCase" defaultGraphUri="http://dbpedia.org" defaultLanguage="en"/>
    </endpoints>
  </odataSparql>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VDS.Common" publicKeyToken="ab5f4eb908061bf0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>